<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cardápio</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Wish shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/jquery.mCustomScrollbar.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/categories.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/categories_responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cardapio.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header">
        <div class="header_inner d-flex flex-row align-items-center justify-content-start">
            <div class="logo"><a th:href="@{/index}">Pizza Planet</a></div>
            <nav class="main_nav">
                <ul>
                    <li><a th:href="@{/index}">home</a></li>
                    <li><a th:href="@{/index}">quem somos</a></li>
                    <li><a th:href="@{/cardapio}">cardápio</a></li>
                    <li id="cadastroPizza" style="display: none;"><a th:href="@{/cadastro_produto}">cadastrar pizza</a></li>
                    <li id="login"><a th:href="@{/login}">login</a></li>
                    <li>
                        <p th:text="${session.welcome_username}">
                    </li>
                    <li id="sairLink" style="display: none;">
                        <form action="/logof" method="post" name="logof">
                            <button class="sair" type="submit">Sair</button>
                        </form>
                    </li>
                    <input id="user" type="hidden" th:value="${session.welcome_username}">
                    <input id="role" type="hidden" th:value="${session.role}">
                </ul>
            </nav>
            <div class="header_content ml-auto">
                <div class="shopping">
                    <!-- Cart -->
                    <a href="#">
                        <div class="cart">
                            <img th:src="@{/images/shopping-bag.svg}" alt="">
                            <div class="cart_num_container">
                                <div class="cart_num_inner">
                                    <div class="cart_num">0</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>

    <!-- Menu -->

    <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
        <div class="menu_close_container">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="logo menu_mm"><a href="#">Pizza Planet</a></div>
        <div class="search">
            <form action="#">
                <input type="search" class="search_input menu_mm" required="required">
                <button type="submit" id="search_button_menu" class="search_button menu_mm">
                    <img class="menu_mm"  th:href="@{/images/magnifying-glass.svg}" alt=""></button>
            </form>
        </div>
        <nav class="menu_nav">
            <ul class="menu_mm">
                <li><a th:href="@{/index}">home</a></li>
                <li><a th:href="@{/index}">quem somos</a></li>
                <li><a th:href="@{/cardapio}">cardápio</a></li>
                <li id="cadastroPizzaB" style="display: none;"><a th:href="@{/cadastro_produto}">cadastrar pizza</a></li>
                <li id="loginB"><a th:href="@{/login}">login</a></li>
                <li><p th:text="${session.welcome_username}"></li>
                <li id="sairLinkB" style="display: none;">
                    <form action="/logof" method="post" name="logof">
                        <button class="sair" type="submit">Sair</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Products -->

    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="current_page">Woman's Fashion</div>
                </div>
            </div>

            <div class="row products_container">
                <div class="col">

                    <!-- Products -->
                    <div id="product-grid" class="product_grid"></div>

                </div>
            </div>
<script>

    var objPizzas = [];
    var qtdPedidos = 0;

    pizza = new Object();
	var nome;
	var id;
    var valor;

	function Pizza(nome, id, valor){
		this.nome = nome;
		this.id = id;
    }
    
    var arrayPedidos = [];

    $(document).on('click','.add',function(e) {
    //handler code here
        var qtd = 0;
        var pizzaNome = $(this).prev('input').attr('name');
        var pizzaId = $(this).prev('input').attr('id');
        var pizzaIdBanco = $(this).prev('input').attr('data-id');
        var valorPizza = $(this).prev('input').attr('data-id');
        var pizza1 = new Pizza(pizzaNome, pizzaIdBanco);
		arrayPedidos.push(pizza1);
        console.log(arrayPedidos);
        $('#'+pizzaId).val( function(i, oldval){
            if(oldval >= 9){
                alert("O número máximo de pizzas por sabor, é 9!");
                return 9;
            } else {
                qtd = parseInt(oldval, 10) + 1;
                qtdPedidos++;
                $('.cart_num').html(qtdPedidos.toString());
                return qtd;
            }
        });
    });

	$(document).on('click','.sub',function(e) {
        var qtd = 0;
		var $pizzaNome = $(this).parent().find('input');
		var pizzaId = $pizzaNome.attr('id');
		var pizzaNome = $pizzaNome.attr('name');
        var pizzaIdBanco = $pizzaNome.attr('data-id');
		$('#'+pizzaId).val( function(i, oldval){
            debugger;
			if(oldval == 0){
				return 0;
			} else {
                var index = -1;
                for(var i = 0; i < arrayPedidos.length; i++){
                    index = arrayPedidos.findIndex(x => x.id === pizzaIdBanco);
                }
				 
				if( index > -1) {
					arrayPedidos.splice(index, 1);
				}
                qtd = parseInt(oldval, 10) - 1;
                qtdPedidos--;
                $('.cart_num').html(qtdPedidos.toString());
				return qtd;
			}
		}); 
		console.log(arrayPedidos);
	}); 

    function criaTabelaPizzas(){
        var tabelaHeader = '<div style="overflow-x:auto;"><table id="tabela-pizzas0">';
            tabelaHeader += '<thead>';
            tabelaHeader += '<tr>';
            tabelaHeader += '<th class="coluna200">Pizza</th>';
            tabelaHeader += '<th class="coluna300">Descricao</th>';
            tabelaHeader += '<th class="coluna100">Valor</th>';
            tabelaHeader += '<th class="coluna200">Quantidade</th>';
            tabelaHeader += '</tr>';
            tabelaHeader += '</thead>';
            tabelaHeader += '</table></div>';

        $('#product-grid').append(tabelaHeader);

        var rating = '<div class="rating rating_5" data-rating="5">';
            rating += '<i class="fa fa-star"></i>';
            rating += '<i class="fa fa-star"></i>';
            rating += '<i class="fa fa-star"></i>';
            rating += '<i class="fa fa-star"></i>';
            rating += '<i class="fa fa-star"></i>';
            rating += '</div>';

        for(var indice = 0; indice < objPizzas.length; indice++) {
            var num = indice + 1;

            var tabela = '<div style="overflow-x:auto;"><table id="tabela-pizzas' + num + '">';
            var linha = '<tr>';
                linha += '<td class="coluna200">' + objPizzas[indice].nome + '</td>';
                linha += '<td class="coluna300">' + objPizzas[indice].descricao + '</td>';
                linha += '<td class="coluna100">R$ ' + objPizzas[indice].valor + '</td>';
                linha += '<td class="coluna200"><input id="pizza'+num+'" type="text" value="0" class="qtdField" name="'+objPizzas[indice].nome+'" data-id="'+objPizzas[indice].id+'"><button id="addPizza'+num+'" class="add btnPizzas product_fav product_option" type="button">+</button><button id="subPizza'+num+'" class="sub btnPizzas product_fav product_option" type="button">-</button></td>'
                linha += '</tr>';
            tabela += linha;
            tabela += '</table></div>';
            $('#product-grid').append(tabela);
            $('#product-grid').append(rating);
        }
        
        var formEnvio = '<button id="btnConfirmaPedido" class="btnConfirmar product_fav product_option" type="button" onclick="confirmaPedido()">Confirmar Pedido</button>';

        $(formEnvio).insertAfter('#product-grid');
        

    }

    function confirmaPedido() {
        $.ajax({ 
            headers: { 
                'Accept': 'application/json',
                'Content-Type': 'application/json' 
            },
            url:'/cadastraPedido',
            type:"POST", 
            contentType: "",
            data: JSON.stringify(arrayPedidos), //Stringified Json Object
            async: false,    //Cross-domain requests and dataType: "jsonp" requests do not support synchronous operation
            cache: false,    //This will force requested pages not to be cached by the browser  
            processData:false, //To avoid making query String instead of JSON
            success: function(resposeJsonObject){
                // Success Action
            }
        });
    }

        // A $( document ).ready() block.
    $( document ).ready(function() {
        $.getJSON('/getPizzas', function (data) {
            $.each(data, function(k, v) {
                objPizzas.push(v);
              });
        });

        setTimeout(criaTabelaPizzas, 500);


        var user = $('#user').val();
        var role = $('#role').val();
        if(user != ""){
            $('#login').css("display", "none");
            $('#loginB').css("display", "none");
            if(role == 0){
                $('#cadastroPizza').css("display", "inline-block");
                $('#cadastroPizzaB').css("display", "inline-block");
                $('#sairLink').css("display", "inline-block");
                $('#sairLinkB').css("display", "inline-block");
            }
        }


    });

</script>
            <!-- Footer -->

            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <div class="footer_logo"><a href="/index">Pizza Planet</a></div>
                            <nav class="footer_nav">
                                <ul>
                                    <li><a th:href="@{/index}">home</a></li>
                                    <li><a th:href="@{/cardapio}">cardápio</a></li>
                                    <li><a th:href="@{/index}">quem somos</a></li>
                                    <li><a th:href="@{/login}">login</a></li>
                                </ul>
                            </nav>
                            <div class="footer_social"> 
                                <ul>
                                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="copyright">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                    aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script th:href="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:href="@{/js/popper.js}"></script>
        <script th:href="@{/js/bootstrap.min.js}"></script>
        <script th:href="@{/js/easing.js}"></script>
        <script th:href="@{/js/parallax.min.js}"></script>
        <script th:href="@{/js/isotope.pkgd.min.js}"></script>
        <script th:href="@{/js/jquery.mCustomScrollbar.js}"></script>
        <script th:href="@{/js/jquery-ui.js}"></script>
        <script th:href="@{/js/categories_custom.js}"></script>
    </body>
</html>